#header_wrap a, #footer_wrap a { color: #ffffff; }
#project_title { text-align: center; }

#footer_wrap h1
{
    color: #ffffff;
    text-align: center;
}
#footer_wrap ul
{
    padding-left: 0;
    list-style: none;
    padding-top: 20px;
}

#footer_wrap ul li
{
    padding-bottom: 15px;
}

#footer_wrap ul li h2
{
    background: none;
    margin: 0;
    padding: 0;
}

#footer_wrap ul li span
{
    color: #b7b7b7;
}

#footer_wrap .copyright { text-align: center; }

footer a { text-decoration: none; }