a { color: #ffffff; }

.footer_wrap h1 
{
    color: #ffffff;
    text-align: center;
}
.footer_wrap ul
{
    padding-left: 0;
    list-style: none;
}

.footer_wrap ul h2
{
    background: none;
    margin: 0;
    padding: 0;
}