<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">

  <head>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/custom.css">
{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title"><a href="https://dirtydozen.dev">dirtydozen.dev</a></h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <h1><a href="https://dirtydozen.dev">dirtydozen.dev</a></h1>
        <ul>
          <li><h2><a href="https://dirtydozen.dev/pages/en/magic-strings.html">I. Magic strings</a></h2><span>Don't lose it, re-use it</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/one-trick-pony-variables.html">II. One-trick-pony variables</a></h2><span>Don't ride it just once</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/sensitive-config.html">III. Sensitive config</a></h2><span>Don't share it with the rest of the world</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/over-configuration.html">IV. Over configuration</a></h2><span>Keep things simple</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/large-method-bodies.html">V. Large method bodies</a></h2><span>Count the lines, not pounds</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/no-unit-tests.html">VI. No unit tests</a></h2><span>Driving without headlights</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/too-many-comments.html">VII. Too many comments</a></h2><span>Code should tell you the story</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/logic-in-wrong-places.html">VIII. Logic in wrong places</a></h2><span>Keep it structured</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/not-using-using.html">IX. Not using "using"</a></h2><span>Who is destroying it then?</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/no-inheritance.html">X. No inheritance</a></h2><span>Going it alone</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/writing-tooooo-generic-code.html">XI. Writing tooooo generic code</a></h2><span>Don't try to solve all the world's problems at once</li>
          <li><h2><a href="https://dirtydozen.dev/pages/en/no-focus-on-clean-code.html">XII. No focus on clean code</a></h2><span>And that's why ditrydozen.dev was born</li>
        </ul>
      </footer>
      <footer class="inner">
        <p class="copyright"><a href="https://dirtydozen.dev">dirtydozen.dev</a> maintained by <a href="https://qbituniverse.com" target="_blank">qbituniverse.com</a> and <a href="https://www.linkedin.com/in/marcinnarloch" target="_blank">Marcin Narloch</a></p>
      </footer>
    </div>
  </body>
</html>
